.preloader {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 0;
    bottom: 60px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.spinner {
  margin: 0 auto;
  width: 150px;
  height: 150px;
  position: relative;
}

.cube1, .cube2 {
  background: url(../images/preloader.png) no-repeat;
  background-size: cover;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(75px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(75px) translateY(75px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(75px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% { 
    transform: translateX(75px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(75px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(75px) translateY(75px) rotate(-179deg);
    -webkit-transform: translateX(75px) translateY(75px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(75px) translateY(75px) rotate(-180deg);
    -webkit-transform: translateX(75px) translateY(75px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(75px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(75px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}