<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
	<link rel="stylesheet" href="{{ base_url + '/css/styles.css' }}" />
	
</head>
<body>
	<div id="leaflet_map"></div>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
	<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
	<script type="text/javascript">
		'use strict'

		var socket = new WebSocket('ws://52.91.146.12:8068'),
			mockSocket = new WebSocket('ws://52.91.146.12:8065'),
			mainMap = L.map('leaflet_map').setView([14.556981, 121.034378], 10),
			devices = {},
			gateway,
			devicesData;

		gateway = {{ JSON.stringify(gateway) }};
		devicesData = {{ JSON.stringify(devices.concat(mockDevices)) }};

		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		    id: 'rmauricio.0jhf51cc',
		    attribution: '',
		    accessToken: 'pk.eyJ1Ijoicm1hdXJpY2lvIiwiYSI6ImNpcWJ1anZ0ODAwcnJmb25lYm45a3VvMTQifQ.R5nMyg7GXh37uXzDzTgY7w'
		}).addTo(mainMap);

		mockSocket.onopen = function (event) {
			console.log('Mock socket connected!');

			mockSocket.onmessage = socketOnMessage;
		}

		socket.onopen = function (event) {
			console.log('Connected!');

			socket.onmessage = socketOnMessage;
		}

		function socketOnMessage(event){
			let data = JSON.parse(event.data);
			
			upsertDevice(data);
		}

		function generateHtmlPopup(item) {
			let addressDtl = ['street', 'baranggay', 'city', 'country', 'postal_code'],
				weatherDtl = {
					'temperature': '&deg; C', 
					'precipitation': '%', 
					'humidity': '%', 
					'wind': 'mph'
				},
				popup = '';
			
			popup = `<b>${item.device_info.name}</b><br/>`;
			addressDtl.forEach((i) => {
				popup += `${item.address[i]} `;
			});
			
			item.weather.precipitation *= 100;
			item.weather.humidity *= 100;

			popup += `<br/><br/>`;
			Object.keys(weatherDtl).forEach((i) => {
				popup += `<div>${i}: ${item.weather[i]} ${weatherDtl[i]}</div>`;
			});

			return popup;
		}

		function upsertDevice(item) {
			item.id = item.device_info.mock_id || item.device_info._id;
			
			let device = devices[item.id];

			if (typeof device !== 'undefined') {
				device.setLatLng(item.coordinates);
				device.setPopupContent(generateHtmlPopup(item))
			} else {
				let carIcon = L.icon({
					    iconUrl: './images/car-32.png',
					    iconRetinaUrl: './images/car-32.png',
					    iconSize: [32, 32],
					    iconAnchor: [16, 16],
					    popupAnchor: [0, -15],
					}),
					markerOptions = {
						icon: carIcon
					}

				devices[item.id] = L.marker(item.coordinates, markerOptions)
												.addTo(mainMap)
												.bindPopup(generateHtmlPopup(item));
			}
			
		}

		devicesData.forEach(upsertDevice);
	</script>
</body>
</html>