<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/0.7.7/leaflet.css" />
	<link rel="stylesheet" href="{{ base_url + '/css/spin.css' }}" />
	<!-- <link rel="stylesheet" href="{{ base_url + '/css/preloader.css' }}" /> -->
	<link rel="stylesheet" href="{{ base_url + '/css/styles.css' }}" />
	
</head>
<body>
	<div id="leaflet_map"></div>
	<div class="splash">
		<img src="{{ base_url + '/images/reekoh-192x192.png'}}" class="spin" />
		<!-- <div class="preloader">
			<div class="spinner">
				<div class="cube1"></div>
				<div class="cube2"></div>
			</div>
		</div> -->
	</div>
	<script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/leaflet/0.7.7/leaflet.js"></script>
	<script type="text/javascript">
		'use strict'

		$(document).ready(function () {
			setTimeout(function () {
				$('.splash').fadeOut();
			}, 3000);
		});

		var demo = {{ JSON.stringify(demo) }},
			mock = {{ JSON.stringify(mock) }},
			socket = new WebSocket(`ws://${demo.ip}:${demo.socket_port}`),
			mockSocket = new WebSocket(`ws://${demo.ip}:${mock.topology.socket_port}`),
			mainMap = L.map('leaflet_map').setView([14.5651, 121.0220], 11),
			devices = {},
			gateway,
			devicesData;

		gateway = {{ JSON.stringify(gateway) }};
		devicesData = {{ JSON.stringify(devices.concat(mockDevices)) }};
		
		L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
		    id: 'rmauricio.0jhf51cc',
		    attribution: '',
		    accessToken: 'pk.eyJ1Ijoicm1hdXJpY2lvIiwiYSI6ImNpcWJ1anZ0ODAwcnJmb25lYm45a3VvMTQifQ.R5nMyg7GXh37uXzDzTgY7w'
		}).addTo(mainMap);

		mockSocket.onopen = function (event) {
			console.log('Mock socket connected!');

			mockSocket.onmessage = socketOnMessage;
		}

		socket.onopen = function (event) {
			console.log('Connected!');

			socket.onmessage = socketOnMessage;
		}

		function socketOnMessage(event){
			let data = JSON.parse(event.data);
			// console.log(data);
			upsertDevice(data);
		}

		function generateHtmlPopup(item) {
			let addressDtl = ['street', 'baranggay', 'city', 'country', 'postal_code'],
				weatherDtl = {
					'temperature': '&deg; C', 
					'precipitation': '%', 
					'humidity': '%', 
					'wind': 'mph'
				},
				plate = item.device_info.metadata.hasOwnProperty('plate') ? item.device_info.metadata.plate : item.device_info.name,
				popup = '';
			
			popup = `<b>${plate}</b><br/>`;

			if (! item.device_info.hasOwnProperty('mock_id')) {
				addressDtl.forEach((i) => {
					popup += `${item.address[i]} `;
				});
				
				item.weather.precipitation *= 100;
				item.weather.humidity *= 100;

				popup += `<br/><br/>`;
				Object.keys(weatherDtl).forEach((i) => {
					popup += `<div>${i}: ${item.weather[i]} ${weatherDtl[i]}</div>`;
				});
			}

			return popup;
		}

		function upsertDevice(item) {
			let isMockDevice = item.device_info.hasOwnProperty('mock_id'),
				deviceId = isMockDevice ? item.device_info.mock_id : item.device_info._id;
			
			let popUpContent = generateHtmlPopup(item),
				device = devices[deviceId];

			if (devices.hasOwnProperty(deviceId)) {
				device.setLatLng(item.device_data.coordinates);
				device.setPopupContent(popUpContent);
			} else {
				let iconImage = (isMockDevice) ? 'car-32.png' : 'reekoh-48-c.png',
					carIcon = L.icon({
					    iconUrl: `./images/${iconImage}`,
					    iconRetinaUrl: `./images/${iconImage}`,
					    iconSize: [32, 32],
					    iconAnchor: [16, 16],
					    popupAnchor: [0, -15],
					}),
					markerOptions = {
						icon: carIcon,
						zIndexOffset: (isMockDevice) ? 1 : 1000
					}

				devices[deviceId] = L.marker(item.device_data.coordinates, markerOptions)
												.addTo(mainMap)
												.bindPopup(popUpContent);
			}
			
		}

		devicesData.forEach(upsertDevice);
	</script>
</body>
</html>